@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding:0;
}